<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-9">
      <form *ngIf="formPaciente" [formGroup]="formPaciente">

        <h4>Datos personales</h4>
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label for="run">Rut </label>
              <input type="text" pInputText class="form-control" id="run" formControlName="run"
                placeholder="11.111.111-1" />
              <div class="ui-message ui-messages-error ui-corner-all"
                [hidden]="formPaciente.controls.run.valid || (formPaciente.controls.run.pristine)">
                <em class="fa fa-close"></em>
                <span
                  *ngIf="formPaciente.controls.run.hasError('validateRUN')">{{ 'error.input.validateRUN' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="nombreCompleto">Nombre </label>
              <input type="text" pInputText class="form-control" id="nombreCompleto" formControlName="nombres" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label for="fechaNacimiento">Fecha de Nacimiento</label>
              <p-calendar id="fechaNacimiento" [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true"
                formControlName="fechaNacimiento" [monthNavigator]="true" [yearNavigator]="true" yearRange="1800:3000"
                [readonlyInput]="true">
              </p-calendar>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="genero">Género</label>
              <p-dropdown id="genero" [options]="generoSelectItems" formControlName="genero" class="d-block">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label for="direccion">Dirección </label>
              <input type="text" pInputText class="form-control" id="direccion" formControlName="direccion" />
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="comuna">Comuna</label>
              <p-dropdown id="comuna" [options]="comunasSelectItems" formControlName="comuna" class="d-block">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Telefono -->
          <div class="col-md">
            <div class="form-group">
              <label for="telefono">Teléfono</label>
                <input type="text" pInputText id="telefono" class="form-control" formControlName="telefono"
                  placeholder="(2)12345678 ó (32)1234567" />
            </div>
          </div>
          <!-- Correo -->
          <div class="col-md">
            <div class="form-group">
              <label for="email">Correo</label>
              <input id="email" pInputText type="email" class="form-control" formControlName="email"
                placeholder="correo@ejemplo.cl" />
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Telefono -->
          <div class="col-md">
            <div class="form-group">
              <label for="departamento">Departamento</label>
              <input type="text" pInputText id="departamento" class="form-control" formControlName="departamento"/>
            </div>
          </div>
        </div>

        <p-footer>
          <div class="botonera derecha">
            <button pButton (click)="volver()" class="btn btn-default" title=""
              label="{{ 'labels.cancelar' | translate }}"></button>
            <button pButton (click)="confirmAceptar()" class="btn btn-success" title=""
              label="{{ 'labels.guardar' | translate }}"></button>
          </div>
        </p-footer>

        <p-confirmDialog header="Confirmación" icon="fa fa-question-circle" width="425" #cd>
          <p-footer>
            <button type="button" pButton icon="pi pi-times" label="{{ 'labels.cancelar' | translate }}"
              (click)="cd.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="{{ 'labels.aceptar' | translate }}"
              (click)="cd.accept()"></button>
          </p-footer>
        </p-confirmDialog>

        <p-growl [(value)]="msgs"></p-growl>

      </form>
    </div>
  </div>
</div>