<div class="container">

	<div class="row d-flex justify-content-center">
		<div class="col-md-9">
			<h1>Pacientes</h1>
		</div>
		<div class="col-md-9">
			<div class="botonera-sup-tabla">
				<button type="button" pButton (click)="irNuevoPaciente()"> <em class="pi pi-plus"></em> Nuevo Paciente
				</button>
			</div>
		</div>
	</div>

	<!-- Tabla de datos -->

	<div class="row d-flex justify-content-center">
		<div class="col-md-9">

			<p-table #table [value]="valuesTablaPacientes" [columns]="colsTablaPacientes" [paginator]="true"
				[responsive]="true" [rows]="10">

				<ng-template pTemplate="caption">
					<div style="text-align: right">
						<em class="fa fa-filter" style="margin:4px 4px 0 0"></em>
						<input type="text" pInputText size="50" placeholder="Buscar..."
							(input)="table.filterGlobal($event.target.value, 'contains')" style="width:auto">
					</div>
				</ng-template>

				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns" [ngStyle]="col.style" [pSortableColumn]="col.field"
							[pSortableColumnDisabled]="!col.sortable">
							{{col.header}}
							<p-sortIcon [field]="col.field" *ngIf="col.sortable"></p-sortIcon>
						</th>
					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns" [ngSwitch]="col.field">

							<div *ngSwitchCase="'rut'">
								<span>{{rowData[col.field] | rutText}}</span>
							</div>

							<div *ngSwitchCase="'acciones'">
								<button type="button" pButton (click)="editarPaciente(rowData.paciente)" icon="pi pi-pencil"
									pTooltip="Editar Paciente"></button>
								<button type="button" pButton (click)="eliminarPaciente(rowData.paciente)" icon="pi pi-trash"
									pTooltip="Eliminar Paciente"></button>
								<button type="button" pButton (click)="nuevaConsulta()" icon="pi pi-plus"
									pTooltip="Nueva Consulta"></button>
							</div>

							<div *ngSwitchDefault>
								<span>{{rowData[col.field]}}</span>
							</div>

						</td>
					</tr>
				</ng-template>

				<ng-template pTemplate="emptymessage" let-columns>
					<tr>
						<td colspan="5">
							No hay pacientes ingresados.
						</td>
					</tr>
				</ng-template>

			</p-table>
		</div>
	</div>


</div>