<div class="container">

	<h1>Gestionar Usuarios</h1>

	<div class="ui-g">

		<div class="ui-g-12 ui-lg-3">

			<h4>Filtros</h4>

			<div class="card gray">

				<form *ngIf="formFiltros" [formGroup]="formFiltros">
					<div class="form-group">
						<label for="username">Nombre usuario</label><em class="fa fa-info-circle info-btn"
							pTooltip="{{ 'info.tooltip.username' | translate }}"></em>
						<input type="text" pInputText class="form-control" id="username" formControlName="username" />
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.username.valid || (formFiltros.controls.username.pristine)">
							<em class="fa fa-close"></em>
							<span
								*ngIf="formFiltros.controls.username.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:4} }}</span>
							<span
								*ngIf="formFiltros.controls.username.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:20} }}</span>
							<span
								*ngIf="formFiltros.controls.username.hasError('validateUsername')">{{ 'error.input.validateUsername' | translate }}</span>
						</div>
					</div>

					<div class="form-group">
						<label for="run">RUN</label>
						<input type="text" pInputText class="form-control" id="run" formControlName="run" />
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.run.valid || (formFiltros.controls.run.pristine)">
							<em class="fa fa-close"></em>
							<span
								*ngIf="formFiltros.controls.run.hasError('validateRUN')">{{ 'error.input.validateRUN' | translate }}</span>
						</div>
					</div>

					<div class="form-group">
						<label for="perfil">Perfil</label>
						<p-dropdown id="perfil" [options]="perfilesSelectItems" formControlName="perfil" class="d-block">
						</p-dropdown>
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.perfil.valid || (formFiltros.controls.perfil.pristine)">
							<em class="fa fa-close"></em>
						</div>
					</div>

					<div class="form-group">
						<label for="habilitado">Habilitado</label>
						<p-dropdown id="habilitado" [options]="habilitadosSelectItems" formControlName="habilitado" class="d-block">
						</p-dropdown>
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.habilitado.valid || (formFiltros.controls.habilitado.pristine)">
							<em class="fa fa-close"></em>
						</div>
					</div>

					<div class="form-group">
						<label for="nombres">Nombres</label>
						<input type="text" pInputText class="form-control" id="nombres" formControlName="nombres" />
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.nombres.valid || (formFiltros.controls.nombres.pristine)">
							<em class="fa fa-close"></em>
							<span
								*ngIf="formFiltros.controls.nombres.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:2} }}</span>
							<span
								*ngIf="formFiltros.controls.nombres.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:100} }}</span>
						</div>
					</div>

					<div class="form-group">
						<label for="apPaterno">Apellido Paterno</label>
						<input type="text" pInputText class="form-control" id="apPaterno" formControlName="apPaterno" />
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.apPaterno.valid || (formFiltros.controls.apPaterno.pristine)">
							<em class="fa fa-close"></em>
							<span
								*ngIf="formFiltros.controls.apPaterno.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:2} }}</span>
							<span
								*ngIf="formFiltros.controls.apPaterno.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:100} }}</span>
						</div>
					</div>

					<div class="form-group">
						<label for="apMaterno">Apellido Materno</label>
						<input type="text" pInputText class="form-control" id="apMaterno" formControlName="apMaterno" />
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.apMaterno.valid || (formFiltros.controls.apMaterno.pristine)">
							<em class="fa fa-close"></em>
							<span
								*ngIf="formFiltros.controls.apMaterno.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:2} }}</span>
							<span
								*ngIf="formFiltros.controls.apMaterno.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:100} }}</span>
						</div>
					</div>

					<div class="form-group">
						<label for="email">Correo electrónico</label>
						<input id="email" pInputText type="email" class="form-control" formControlName="email" />
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.email.valid || (formFiltros.controls.email.pristine)">
							<em class="fa fa-close"></em>
							<span
								*ngIf="formFiltros.controls.email.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:100} }}</span>
							<span
								*ngIf="formFiltros.controls.email.hasError('validateEmail')">{{ 'error.input.validateEmail' | translate }}</span>
						</div>
					</div>

					<div class="form-group">
						<label for="fechaNacimientoInferior">Fecha de Nacimiento Inferior</label>
						<p-calendar id="fechaNacimientoInferior" formControlName="fechaNacimientoInferior" [locale]="calLocale"
							[showIcon]="true" dateFormat="dd/mm/yy" showButtonBar="true" [monthNavigator]="true"
							[yearNavigator]="true" [yearRange]="yearRange" [minDate]="minDate" [maxDate]="maxDate"
							readonlyInput="true"></p-calendar>
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.fechaNacimientoInferior.valid || (formFiltros.controls.fechaNacimientoInferior.pristine)">
							<em class="fa fa-close"></em>
						</div>
					</div>

					<div class="form-group">
						<label for="fechaNacimientoSuperior">Fecha de Nacimiento Superior</label>
						<p-calendar id="fechaNacimientoSuperior" formControlName="fechaNacimientoSuperior" [locale]="calLocale"
							[showIcon]="true" dateFormat="dd/mm/yy" showButtonBar="true" [monthNavigator]="true"
							[yearNavigator]="true" [yearRange]="yearRange" [minDate]="minDate" [maxDate]="maxDate"
							readonlyInput="true"></p-calendar>
						<div class="ui-message ui-messages-error ui-corner-all"
							[hidden]="formFiltros.controls.fechaNacimientoSuperior.valid || (formFiltros.controls.fechaNacimientoSuperior.pristine)">
							<em class="fa fa-close"></em>
						</div>
					</div>


				</form>

			</div>

		</div>

		<div class="ui-lg-9 ui-g-12">
			<h4>Resultados</h4>

			<div class="botonera-sup-tabla top_minus">
				<button type="button" pButton (click)="irNuevoUsuario()">Nuevo Usuario</button>
			</div>

			<p-dataTable *ngIf="tablaResultadosVisible" [value]="usuarios" [paginator]="true" [responsive]="true"
				[lazy]="true" (onLazyLoad)="loadBusquedaLazy($event)" [rows]="10" [totalRecords]="busquedaRowCount"
				emptyMessage="No se encontraron usuarios">
				<header>Usuarios</header>

				<p-column field="username" header="Usuario"></p-column>

				<p-column header="RUN" [style]="{'width':'100px'}">
					<ng-template let-col let-user="rowData" pTemplate type="body">
						<span>{{user.persona.run | rutText}}</span>
					</ng-template>
				</p-column>

				<p-column field="" header="Email">
					<ng-template let-col let-user="rowData" pTemplate type="body">
						<span class="email_shortener" pTooltip="{{user.persona.email}}">{{user.persona.email}}</span>
					</ng-template>
				</p-column>

				<p-column field="persona.nombres" header="Nombres" title="persona.nombres"></p-column>

				<p-column header="Apellidos">
					<ng-template let-col let-user="rowData" pTemplate type="body">
						<span>{{user.persona.apellidoPaterno + ' ' + user.persona.apellidoMaterno}}</span>
					</ng-template>
				</p-column>

				<p-column field="persona.fechaNacimiento" header="Fecha Nacimiento">
					<ng-template let-col let-user="rowData" pTemplate type="body">
						<span>{{user.persona.fechaNacimiento | date:'dd/MM/yyyy'}}</span>
					</ng-template>
				</p-column>

				<p-column field="perfil" header="Perfil">
					<ng-template let-col let-user="rowData" pTemplate type="body">
						<span>{{user.perfil.nombre}}</span>
					</ng-template>
				</p-column>

				<p-column field="habilitado" header="Habilitado">
					<ng-template let-col let-user="rowData" pTemplate type="body">
						<span>{{user.habilitado ? 'Sí' : 'No' }}</span>
					</ng-template>
				</p-column>

				<p-column [style]="{'width':'116px'}" class="btn_actions">
					<ng-template let-user="rowData" pTemplate type="body">
						<button type="button" pButton (click)="abrirDialogCambiarPass(user)" icon="pi pi-key"></button>
						<button type="button" pButton (click)="irEditarUsuario(user)" icon="pi pi-pencil"></button>
						<button type="button" pButton (click)="confirmarEliminar(user)" icon="pi pi-trash"></button>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
	</div>

	<p-confirmDialog header="Confirmación" icon="fa fa-question-circle" width="425" #cd>
		<p-footer>
			<button type="button" pButton icon="pi pi-times" label="{{ 'labels.cancelar' | translate }}"
				(click)="cd.reject()"></button>
			<button type="button" pButton icon="pi pi-check" label="{{ 'labels.aceptar' | translate }}"
				(click)="cd.accept()"></button>
		</p-footer>
	</p-confirmDialog>

	<p-dialog header="{{'dialogs.cambiar-pass.title' | translate }}" width="400" [(visible)]="passDialogVisible"
		[closable]="false" [modal]="true">
		<form *ngIf="formPass" [formGroup]="formPass">
			<div class="form-group">
				<label for="password">Contraseña</label>
				<input pInputText type="password" class="form-control" id="password" formControlName="password" />
				<div class="ui-message ui-messages-error ui-corner-all"
					[hidden]="formPass.controls.password.valid || (formPass.controls.password.pristine && !formPassSubmitted)">
					<em class="fa fa-close"></em>
					<span *ngIf="formPass.controls.password.hasError('required')">{{ 'error.input.required' | translate }}</span>
					<span
						*ngIf="formPass.controls.password.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:8} }}</span>
					<span
						*ngIf="formPass.controls.password.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:20} }}</span>
				</div>
			</div>

			<div class="form-group">
				<label for="confirmPassword">Confirmar Contraseña</label>
				<input pInputText type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
				<div class="ui-message ui-messages-error ui-corner-all"
					[hidden]="formPass.controls.confirmPassword.valid || (formPass.controls.confirmPassword.pristine && !formPassSubmitted)">
					<em class="fa fa-close"></em>
					<span
						*ngIf="formPass.controls.confirmPassword.hasError('required')">{{ 'error.input.required' | translate }}</span>
					<span
						*ngIf="formPass.controls.confirmPassword.hasError('notEqualsPasswords')">{{ 'error.input.notEqualsPasswords' | translate }}</span>
				</div>
			</div>
		</form>
		<p-footer>
			<button pButton (click)="cerrarDialogCambiarPass()" class="btn btn-default" title=""
				label="{{ 'labels.cancelar' | translate }}"></button>
			<button pButton (click)="aceptarCambiarPass()" class="btn btn-success" title=""
				label="{{ 'labels.aceptar' | translate }}"></button>
		</p-footer>
	</p-dialog>

	<p-growl [(value)]="msgs"></p-growl>

</div>